html,body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 14px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#desktop{
    width:100%;
    min-height:100%; 
    overflow:hidden;
    /*margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    color: #414339;*/
}
#top{
    background-color: #2c2c2c;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;

    height: 50px;
}
#top ul{
    padding:0;
    margin: 0;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}
#top ul li{
    /*float: left;*/
    padding-left:10px;
    padding-right: 10px;
}
#top ul li i{
    margin-right: 3px;
}
#top ul li a{
    text-decoration: none;
    color: white;
}
#top ul li a:hover{
    border-bottom: 1px dashed white;
}
#bottom{
    position: fixed;
    bottom: 0;
    height: 20px;
    text-align: center;
    color:#878887;
    font-size: 12px;
    width: 100%;
    padding:5px;
    border-top: 1px solid #878887;
}
#container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
#container img{
    max-height: 250px;
}
#vcard {
    margin-left: 20px;
}
#vcard p.greeting{
    font-size: 30px;
    color:  #414339;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
#vcard p.dedicate{
    color:  #414339;
    /*font-family: "HermitLight";
    text-align: justify;
    */
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    max-width: 500px;
    
}

afx-app-window div.afx-window-wrapper{
    border:1px solid #a6a6a6;
    /*box-shadow: 1px 1px 1px #cbcbcb;*/
    box-shadow: 1px 1px 1px #9f9F9F;
    border-radius: 5px;
    background-color:#dfdfdf;
    padding:0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
afx-app-window.unactive > div.afx-window-wrapper{
    background-color: #f6f6f6;
}

afx-app-window ul.afx-window-top{
    margin: 0;
    padding: 0;
    width: 100%;
    padding:0;
    height: 20px;
    border-bottom: 1px solid #a6a6a6;
}
afx-app-window ul.afx-window-top li{
    list-style: none;
    margin-left: 3px;
    margin-top:4px;
    
}
afx-app-window ul.afx-window-top .afx-window-close,.afx-window-minimize,.afx-window-maximize{
    width: 11px;
    height: 11px;
    border-radius: 10px;
}
afx-app-window ul li.afx-window-close{
    background-color: #Fc605b;
     float:left;
}
afx-app-window ul li.afx-window-minimize{
    background-color: #fec041;
     float:left;
}
afx-app-window ul li.afx-window-maximize{
    background-color: #35cc4b;
     float:left;
}

afx-app-window ul li.afx-window-title{
    margin-top:1px;
    float:none;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

afx-app-window div.afx-window-content
{
    overflow: hidden;
    width: 100%;
    background-color: white;
    flex-grow: 1;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

afx-app-window div.afx-window-grip{
    height: 10px;
    width: 10px;
    background-color: transparent;
}
afx-hbox.inputbox{
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #e5e5e5;
}

textarea{
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    font-family: "Ubuntu";
    font-size: 14px;
    padding: 3px;
}
input {
    outline: none;
    border: 0;
    padding: 0;
    height: 17px;
}
div.label{
    color: #899aae;
}
button{
    outline: none;
    background-color: #5fa6cf;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
    padding:3px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px #9f9F9F;
}
#status{
    padding-left: 10px;
    padding-top:5px;
    color:#724841;
}