html,body{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#desktop{
    /*width:100%;
    min-height:100%; 
    overflow:hidden;
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    color: #414339;*/
}

#top{
    background-color: #2c2c2c;
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    height: 50px;
}
#top ul{
    padding:0;
    margin: 0;
    padding-top: 16px;
    list-style: none;
}
#top ul li{
    float: left;
    padding-left:10px;
    padding-right: 10px;
}
#top ul li i{
    margin-right: 3px;
}
#top ul li a{
    text-decoration: none;
    color: white;
}
#top ul li a:hover{
    border-bottom: 1px dashed white;
}
#bottom{
    position: fixed;
    bottom: 0;
    height: 20px;
    text-align: center;
    color:#878887;
    background-color: white;
    font-size: 12px;
    width: 100%;
    padding:5px;
    border-top: 1px solid #878887;
}
#center{
    height: calc(100% - 80px);
    overflow-y: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#navbar{
    margin:0 auto;
    max-width: 960px;
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
}
#navbar.navmobile{
    margin:0 auto;
    max-width: 960px;
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    font-size: 14px;
}
#container{
    margin:0 auto;
    max-width: 960px;
    text-align: justify;
}

textarea{
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
    font-family: "Ubuntu";
    font-size: 14px;
    padding: 3px;
    outline: none;
}
input {
    outline: none;
    border: 0;
    padding: 0;
    height: 17px;
}
div.label{
    color: #899aae;
}
button{
    outline: none;
    background-color: #5fa6cf;
    font-weight: bold;
    color: white;
    border: 0;
    border-radius: 5px;
    padding:5px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px #9f9F9F;
}
#container .card{
    display: flex;
    flex-direction: row;

}
#container .mobile {
    display: flex;
    flex-direction: column;
}
#container .card .side{
    padding-top:28px;
    padding-bottom: 0;
    margin: 0;
    display: block;
    margin-right: 10px;
    width: 120px;
    flex: 1 0 auto;
    color:#3170B2;
    text-align: right;
}
#container .mobile .side{
    width: 100%;
    text-align: left;
}
#container .card .side .date{
    display: inline-block;
    color: #662702;
    padding-right: 5px;
    padding-bottom: 7px;
    border-right: 1px solid #cccccc;
}
#container .mobile .side .date{
    border: 0;
}
#container .card .side .tags{
    display: block;
    padding-right: 5px;
    line-height: 1.1;
    font-size: 13px;
    color:#878887;
    border-right: 1px solid #cccccc;
}
#container .mobile .side .tags{
    border: 0;
}
#container .card .side .tags a{
    color:#878887;
    text-decoration: none;
}
#container .card .side .tags a:hover{
    text-decoration: underline;
    text-decoration-color: #cccccc;
}
/*
#container .card .side .tags a:before{
    font-family: "FontAwesome";
    content: "\f02b";
    padding-right: 3px;
    color: #cccccc; 
}*/
#container .blogentry{
    padding-top:20px;
    /*border-bottom: 1px solid #cccccc;
    padding-bottom: 20px;*/
}
#container .blogentry p {
    margin: 0;
    margin-bottom: 20px;
}
#container .blogentry img{
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container .blogentry pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
#container .blogentry a{
    text-decoration: none;
    color:#3170B2;
}
#container .blogentry hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #878887;
    padding: 0; 
}
#container .blogentry table{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
}
#container .blogentry table th,#container .blogentry table td{
    border: 1px solid #878787;
    padding:3px;
    padding-left: 10px;
    padding-right: 10px;
}
#container .blogentry pre table {
    margin: 0;
    text-align: left;
}
#container .blogentry pre table td, #container .blogentry pre table td{
    border:0;
    padding:0;
}
/*
#
#container .blogentry table th, #container .blogentry table tr, #container .blogentry table td{
    border: 1px solid #878787;
    margin:0;
}
#container .blogentry table th{
    background-color: #878787;
    padding:3px;
}*/
#container .blogentry h1{
    font-size: 20px;
    padding:0;
    margin: 0;
    padding-bottom: 5px;
    text-align: left;
}
#container .blogentry h2{
    font-size: 18px;
    text-align: left;
}
#container .blogentry h3{
    font-size: 16px;
    text-align: left;
}
#container .blogentry h4{
    font-size: 15px;
    text-align: left;
}
input.search-box{
    flex:1;
    padding:0;
    margin:0;
    padding-top:13px;
    height: 25px;
    background-color: transparent;
    border-bottom: 1px solid #878887;
    font-size: 18px;
    font-family: "Ubuntu";
    line-height: 0.5;
    color: #878887;
}
div.search-icon:before{
    padding-top:13px;
    content: "\f002";
    color:#878887;
    display: block;
    width:20px;
    height: 25px;
    font-family: "FontAwesome";
    font-size: 18px;
    border-bottom: 1px solid #878887;
}
div.logo{
    display: block;
    width: 122px;
    height:50px;
    background-image: url(mrsang.min.png);
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 34% 85%;
}
#navbar.navmobile div.logo {
    display: block;
    width: 50px;
    height:50px;
    background-image: url(mrsang.min.png);
    background-repeat: no-repeat;
    background-position: right; 
    background-size: 85% 85%;
}
div.logo a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
div.detail {
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
div.detail span{
    display: block;
    height: 16px;
    border-bottom: 1px solid #cccccc;
    flex:1;
}
div.detail a{
    width: 32px;
    display: block;
    
    height: 32px;
    border: 1px solid #878887;
    text-decoration: none;
    border-radius: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
div.detail a:before{
    font-size:16px;
    content:"\f039";
    font-family: "FontAwesome";
    line-height: 2.0;
    padding-left:8px;
    color: #878887;
}
div.notfound {
    max-width: 400px;
    margin: 0 auto;
}
div.notfound p{
    margin: 0;
    margin-top:20px;
    color: #662702;
    font-weight: bold;
    padding:0;
    border-radius: 10px;
}
div.notfound p:before{
    font-size:16px;
    content:"\f06a";
    font-family: "FontAwesome";
    line-height: 2.0;
    padding-right:8px;
}
div.notfound blockquote{
    margin: 0;
}
div.notfound blockquote span{
    display: block;
    text-align: right;
    font-style: italic;
}
td.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	text-align: center;
	color: #ccc;
	vertical-align: top;
    font-size: 14;
	/* your custom style here */
}

/* for block of code */
#container .blogentry .hljs-ln td.hljs-ln-code {
	padding-left: 10px;
}
div.commentform .inputbox{
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}
div.commentform .inputbox input{
    margin-top:3px;
}
div.commentform .inputbox .label{
    padding-right: 5px;
}
div.commentform .inputboxbt{
    display: flex;
    flex-direction: row-reverse;
}
div.commentform textarea{
    min-height: 120px;
    flex:1;
    margin:0;
    margin-top:7px;
    width: calc( 100% - 20px );
}
div.commentform {
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    /*border-radius: 5px;*/
    margin-bottom: 20px;
}

#container h1.commentsec{
    text-align: center;
    border-top:  1px dashed #3170B2;
    color:#3170B2;
    padding-top: 10px;
    padding-bottom: 10px;
}